.carrousel {
  height: calc(100vh - 70px);
}

.navbar {
  height: 70px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.rectangle_desing {
  border: 20px solid #400D45;
  position: absolute;
  width: 75%;
  height: 250px;
}


.navbar-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  size: 15px;
  color: #400D45;
  margin-bottom: 15px;
  margin-top: 20px;
}


#navBar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

span {
  align-content: center
}

section h4 {
  text-align: center;
  overflow: hidden;
}


section {
  margin-top: 40px;

}

.circle{
  height: 170px;
  width: 100%;
  background: white;
  border-radius: 22%;
  position: relative;
  bottom: 86px;
}

li:hover {
  box-shadow:0px -5px 0 #400D45 inset;
  text-shadow:0.1px 0.1px 0 rgb(0, 0, 0);

}

.navy-animation li {
  display: block;
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  
}

.text-square {
  margin-top: 50px;
}

.img-square {
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 50px;
  width: 450px;
  height: 300px; 
}
.img-square-2 {
  border-radius: 8px;
  margin-left: 0px;
  margin-top: 30px;
  width: 450px;
  height: 300px; 
}

.p-text-config{
  padding-left: 90px;
  padding-right: 90px;
  text-align: justify;
}

.social-select, .social-select:link {
  color: white;
  transition: all .25s ease;
}

.social-icons {
  color: #fff;
  font-size: 30px;
  margin: auto;
}

.social-nav {
  border-radius: 50px;
}

.social-li {
  background: gray;
  display: inline-block;
  line-height: 0;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.body-modelo {
  color: black;
  text-align: justify;
}




