.carrousel {
  height: calc(100vh - 70px);
}

.navbar {
  overflow: hidden;
  width: 100%;
  text-align: left;
  z-index: 1;
  align-content: center;
}

.rectangle_desing {
  border: 20px solid #400D45;
  position: absolute;
  width: 75%;
  height: 250px;
}


.navbar-brand {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  size: 15px;
  color: #400D45;
  
}


#navBar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

span {
  align-content: center
}

section h4 {
  text-align: center;
  overflow: hidden;
}

.section-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #400D45;
}

.titulo-2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  vertical-align: auto;
  padding-left: 50px;
  font-size: 30px;

}

.circle {
  height: 170px;
  width: 100%;
  background: white;
  border-radius: 22%;
  position: relative;
  bottom: 86px;
}

.circle-2 {
  height: 170px;
  width: 100%;
  background: #400D45;
  border-radius: 22%;
  position: relative;
  bottom: 46px;
}

.form-control{
  width: 80%;
}




.col5 {
  width: calc(100% / 5);
}

li:hover {
  box-shadow: 0px -5px 0 #400D45 inset;
  text-shadow: 0.1px 0.1px 0 rgb(0, 0, 0);

}

.navy-animation li {
  display: block;
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  transition: all ease-in-out 0.3s;

}

.jobsImage {
  margin-top: 60px;
}

.text-square {
  margin-top: 50px;
}

.img-square {
  border-radius: 8px;
  margin-left: 30px;
  margin-top: 50px;
  width: 450px;
  height: 300px;
}

.img-square-2 {
  border-radius: 8px;
  margin-left: 0px;
  margin-top: 30px;
  width: 450px;
  height: 300px;
}

.p-text-config {
  padding-left: 90px;
  padding-right: 90px;
  text-align: justify;
}

.social-select,
.social-select:link {
  color: white;
  transition: all .25s ease;
}

#msnToggle {
  border: solid 1px white;
  position: fixed;
  bottom: 20px;
  right: 130px;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50px !important;
  z-index: 40 !important;
  outline: none;
  cursor: pointer;
  background-color: #400D45;
  color: white
}
#cotizationToggle {
  border: solid 1px white;
  position: fixed;
  bottom: 20px;
  right: 60px;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50px !important;
  z-index: 40 !important;
  outline: none;
  cursor: pointer;
  background-color: #400D45;
  color: white
}

.chatSide{
  position: fixed;
  bottom: 90px;
  right: 90px;
  z-index: 40 !important;
  background-color: white;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.carrousel-text{
  position: absolute;
  top: 100px;
  z-index: 2;
  width: 60%;
  overflow: hidden;
  color: gray;
  left: 250px;
}


.social-icons {
  color: #fff;
  font-size: 35px;
  margin: auto;
  align-items: center;
}

.social-nav {
  padding-bottom: 0px;
  border-bottom: rgb(164, 156, 156);
  margin-bottom: 25px;
  background-color: #400D45;
}

.social-li {
  background: rgb(132, 132, 132);
  display: inline-block;
  line-height: 0;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  width: 60px;
  height: 60px;
  text-align: center;
}

.body-modelo {
  color: black;
  text-align: justify;
}

.social-card {
  color: black;
  padding: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 340px;
  width: 400px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05), 0 1px 4px 0 rgba(0, 0, 0, .08),
    0 3px 1px -2px rgba(0, 0, 0, .2);
  overflow: hidden;
  border-radius: 15px;
  text-align: left;
}

.grandpa{
  background-color: #400D45;
}

.imagen-set {
  width: 200px;
  height: 200px;
  border-radius: 100px;

}

.services-tittle {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 0;
  color: #400D45

}

.services-body {
  text-align: center;
  border-top: 20px;
}

.text-body{
  font-family: 'Quicksand', sans-serif;
}
