.carrousel {
  height: calc(100vh - 70px);
}

.navbar {
  height: 70px;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.rectangle_desing {
  border: 20px solid #400D45;
  position: absolute;
  width: 75%;
  height: 250px;
}


.navbar-brand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  size: 15px;
  color: #400D45;
  margin-bottom: 50px;
  margin-top: 50px;
}


#navBar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

span {
  align-content: center
}

section h4 {
  text-align: center;
}


section {
  margin-top: 40px;

}

.circle{
  height: 170px;
  width: 100%;
  background: white;
  border-radius: 22%;
  position: relative;
  bottom: 86px;
}

.col5{
  width: calc(100% / 5);
}

li:hover {
  box-shadow:0px -5px 0 #400D45 inset

}

.navy-animation li {
  display: block;
  float: left;
  text-align: center;
  width: 25%;
  height: 100%;
  transition: all ease-in-out 0.3s;
  
}

.jobsImage{
  margin-top: 60px;
}




