
.carrousel{
    height: calc(100vh - 70px);
}

    
 .navbar {
     height: 70px;

}

.btnNav {
    min-width: 576px;
}

.navbar-brand {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    size: 15px;
    color: blueviolet;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 #nbv-1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: blueviolet;

}

