<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <div class="container">
  <a class="navbar-brand" routerLink="#">Nellmax</a>
    <button id="btnNav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  
  
  <div class="container" id="cntr">
    <div class="navbar-collapse collapse justify-content-end"  id="navBar" >
      <ul class="nav navbar-nav">
        <li class="hover">
          <a class="nav-link" id="nbv-1" routerLink="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="hover">
          <a class="nav-link" id="nbv-1" routerLink="#">Trabajos</a>
        </li>
        <li class="hover">
          <a class="nav-link" id="nbv-1" routerLink="#">Nosotros</a>
        </li>
        <li class="hover">
          <a class="nav-link" id="nbv-1" routerLink="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="carrousel">
  <i class="fa fa-angle-left" (click)="changeManualCarrousel(0)"
    style="color: #FFF;position: absolute;left: 0;top: 90px;font-size: 30px;cursor: pointer" aria-hidden="true"></i>

  <img class="image-carrousel" *ngIf="changeTab == 0" src="../assets/nellmax_1.jpg" width="100%" height="100%" alt="">
  <img class="image-carrousel" *ngIf="changeTab == 1" src="../assets/nellmax_2.jpg" width="100%" height="100%" alt="">
  <img class="image-carrousel" *ngIf="changeTab == 2" src="../assets/nellmax_3.jpg" width="100%" height="100%" alt="">

  <i class="fa fa-angle-right" (click)="changeManualCarrousel(1)"
    style="color: #FFF;position: absolute;right: -280px;top: 90px;font-size: 30px;cursor: pointer"
    aria-hidden="true"></i>
</div>

<router-outlet></router-outlet>

<router-outlet></router-outlet>


